<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="ru">
<head>
    <title>Commutes</title>
    <style>
        table, td {
            border: 1px solid #CCC;
            border-collapse: collapse;
            padding: 4px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("img").error(function() {
                $(this).hide();
                $(this).attr('class', 'no-link');
            });

            $("#hide_link").click(function() {
                $("img.to-hide").toggle( function() {
                    if($("img.to-hide").is(":hidden")) {
                        $("#hide_link").text("показать карты");
                    }
                    if($("img.to-hide").is(":visible")) {
                        $("#hide_link").text("скрыть карты");
                    }
                })
            });
        });
    </script>
</head>

<body>
    <h1>📅&nbsp;{{given_date}}</h1>

    <a style="border-bottom: 1px dashed; text-decoration: none" id="hide_link" href="#">скрыть карты</a>

    <h2>{{route_from}} — {{route_to}}</h2>
    <table style="width: 800px;">
        {% for current_route in day_routes_forth %}
        <tr>
            <td style="width: 120px">
                <p>🕙&nbsp;{{current_route.timestamp_local}} </p>
                <p>🚦&nbsp;{{current_route.traffic_val}} </p>
                <p>🏁&nbsp;{{current_route.commute_time}} <small>мин,</small>
                    {{current_route.commute_length}} <small>км</small></p>
            </td>
            <td style="width: 650 px">
                {{current_route.segment_list}} <br />
                <img class="to-hide" src="{{current_route.route_map}}">
                <img class="to-hide" src="{{current_route.start_map}}">
                <img class="to-hide" src="{{current_route.desti_map}}">
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>{{route_from}} — {{route_to}}</h2>
    <table>
        {% for current_route in day_routes_back %}
        <tr>
            <td style="width: 120px">🕙&nbsp;{{current_route.timestamp_local}} <br />
                🚦&nbsp;{{current_route.traffic_val}} <br />
                🏁&nbsp;{{current_route.commute_time}} <small>мин,</small> {{current_route.commute_length}} <small>км</small></td>
            <td style="width: 650 px">
                {{current_route.segment_list}} <br />
                <img class="to-hide" src="{{current_route.route_map}}">
                <img class="to-hide" src="{{current_route.start_map}}">
                <img class="to-hide" src="{{current_route.desti_map}}">
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
